{% extends 'layout.html' %}

{% block content %}

<div id="about-background">
    <h3 class="text-center mt-3">ABOUT US</h3>
    <hr>
    <br>

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="../../static/photos/giseleavi Small.jpeg" alt="Dr. Gisele Photo">
                    <h3 class="text-center"><strong>Dr. Gisele Tchamba</strong></h3>
                    <hr>
                    <p class="intro"><strong>The founder and Executive Director of ADR Evaluation Consulting.</strong></p>
                </div>
                <div class="col-md-6">
                    <p class="bio mt-4 ml-1"> Dr. Gisele Tchamba is a seasoned academic professional with 15+ years of
                        program evaluation and
                        research
                        experience in the
                        academic sector.</p>
                    <p> She is also recognized for demonstrating a natural aptitude for executing quantitative and qualitative data
                        analysis, as well as for evaluating programs and conducting research, she has a history of
                        contributing directly to
                        academic knowledge throughout her career.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-1">
            <img class="img-fluid mt-2" id="analysis_image" src="../../static/photos/Logo Preview.png"
                alt="First slide">
        </div>
    </div>

    <div class="row mb-5 mt-3">
        <div class="col-md-6">
            <h4>Who We Are</h4>
            <p class="whoweare">Every client is unique. That's why we customize every one of our services to fit your
                needs exactly. Whether it's a
                small strategy or a comprehensive effort, we'll sit down with you, listen to your requests, and prepare
                a customized
                plan.</p>
        </div>
        <div class="col-md-6 mt-2">
            <h4>Strategy</h4>
            <p class="whoweare">We love what we do and it shows. There's no challenge too big or too small, and we
                dedicate our utmost energy to every
                project we take on.</p>
            <button type="button" class="btn btn-success">View our Products</button>
        </div>
    </div>

</div>

{% endblock content %}